.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 65%;
	margin: 3rem auto;
	padding: 0.5rem 0;
}

.login h1 {
	margin: 1rem auto;
}

.login form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid black;
	border-radius: 4px;
	padding: 1rem;
}

.login form div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.25rem 0;
}

.login label {
	width: 30%;
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 0.25rem;
}

.login input {
	width: 70%;
	height: 2rem;
	margin: 0.25rem 0;
	border: 2px solid gray;
	border-radius: 4px;
	font-size: 1.25rem;
	text-align: right;
	padding-right: 0.25rem;
}

.login input[type="email"]:valid,
.login input[type="password"]:valid {
	border: 2px solid mediumseagreen;
}

.login input[type="email"]:invalid,
.login input[type="password"]:invalid {
	border: 2px solid lightcoral;
}

.login button {
	width: 45%;
	height: 3rem;
	margin: 0.25rem auto;
	border: none;
	border-radius: 4px;
	color: white;
	font-size: 1.5rem;
	background-color: mediumseagreen;
}

.login button[type="reset"] {
	background-color: lightcoral;
}
